.container {
  display: flex;
  margin-bottom: 100px;
}
.fade-up {
  background-color: black;
  color: white;
}

.allserv {
  padding-top: 10vh;
}
.head {
  text-align: center;
  padding-top: 70px;
  margin: 0;
}
