.project:hover {
  color: red;
}

.pulse:hover {
  color: red;
}

.card {
  /* width: 400px; */
  width: 390px;
  height: 400px;
  background-color: black;
  z-index: 1;
  transition: 1s;
}

.h3 {
  text-align: center;
  padding: 140px 0;
  margin: 0;
}

.hoverdiv p {
  opacity: 0;
}

.card .card-image:hover .hoverdiv p {
  opacity: 1;
}

.card-image .hoverdiv p {
  margin: 20px;
}
