.allSkill {
  background-color: black;
  color: white;
}

.heading {
  text-align: center;
  padding: 50px 0;
}

.skillsCard {
  /* margin: 50px;
  border: 2px solid red;
  min-width: 300px; */
  width: 320px;
  height: 480px;
  margin: 0 20px;
  /* background-color: black; */
  z-index: 1;
  transition: 1s;
}

.cardhead {
  margin-bottom: 0px;
  margin-top: 0;
  padding-bottom: 50px;
}
