.about {
  background-color: black;
  color: white;
}
/* 
img {
  width: 200px;
  height: 200px;
} */

.About h3 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0;
}

.black-text {
  font-size: x-large;
  letter-spacing: normal;
  padding: 50px 0;
}
