.about {
  background-color: black;
  color: white;
}
/* 
img {
  width: 200px;
  height: 200px;
} */

.About h3 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0;
}

.black-text {
  font-size: x-large;
  letter-spacing: normal;
  padding: 50px 0;
  flex-grow: 1;
}
.info {
  border: 2px solid red;
  border-radius: 5%;
  margin: 2%;
  flex-grow: 1;
}

.work {
  flex-grow: 1;
}
