*{
    margin: 0;
    padding: 0;
}
.footer {
    color: white;
    background-color: rgb(44, 42, 42);
}

.image{
    width: 300px;
    height: 100px;
}

.content{
  
    margin-left: 50px;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-content: center;
}