* {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, red);
  border-radius: 6px;
}

h2 {
  margin: 0;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0;
}
